{{#each this}}
    <div class="photo-card">
    <img src={{this.webformatURL}} alt={{this.tags}} loading="lazy" />
    <div class="info">
        <p class="info-item">
        <b>{{this.likes}} Likes</b>
        </p>
        <p class="info-item">
        <b>{{this.views}} Views</b>
        </p>
        <p class="info-item">
        <b>{{this.comments}} Comments</b>
        </p>
        <p class="info-item">
        <b>{{this.downloads}} Downloads</b>
        </p>
    </div>
    </div>
{{/each}}