{{#each this}}
    <div class="photo-card">
    <a href={{this.largeImageURL}}><img src={{this.webformatURL}} alt={{this.tags}} loading="lazy" class="gallery-img" /></a>
    <div class="info">
        <div class="info-item">
            <b>Likes</b>
            <p>{{this.likes}} </p>
        </div>
        <div class="info-item">
            <b> Views</b>
            <p>{{this.views}}</p>
        </div>
        <div class="info-item">
            <b>Comments</b>
            <p>{{this.comments}} </p>
        </div>
        <div class="info-item">
            <b>Downloads</b>
            <p>{{this.downloads}}</p>
        </div>
    </div>
    </div>
{{/each}}